body {
  display: flex;
  flex-direction: column;

  font-size: 17px;

  font-family: 'Source Sans Pro', sans-serif;

  background-color: #03529F;
  color: #FFFFFF;
  margin: 0;
}

#block {
  display: flex;
  flex-direction: column;

  background-color: #287CCE;

  overflow: hidden;

  align-items: center;

  margin: 0;

  box-shadow: 0px 0px 6px #202020;
}

#blockContent {
  padding-left: 12%;
  padding-right: 12%;
}

#blockHeader {
  font-family: 'Oxygen', sans-serif;
  text-align: center;

  background-color: #000000; /*3D91E2*/
  box-shadow: 0px 0px 6px #202020;

  width: 100%;

  font-size: 40px;

  padding: 16px;
  padding-top: 8px;

}

h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;

  margin-top: 30px;
}

#imgContainer {
  background-color: #0B6BC8;
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  margin-top: 0;

}

#img {
  align-self: center;
  max-width: 18%;
  min-width: 100px;
}

a {
  color: #FFFFFF;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

#links {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.link {
  font-size: 30px;
  margin: 0px;
  vertical-align: middle;
}

footer {
  font-size: 10pt;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 400px) {
  #blockHeader {
    font-size: 28px;
  }

  .link {
    font-size: 16px;
  }
}
