body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #404040;
  color: #FFFFFF;
  margin: 0px;
}

#headerBg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;


  background-image: url("bg.jpg");
  background-color: black;
  width: 100%;
  min-height: 16vh;

  background-size: cover;
  background-repeat: no-repeat;

  text-shadow: 0px 0px 6px #000000;

  margin-bottom: 24px;

  box-shadow: 0px 0px 6px #000000;
}

.headerText {
  padding-top: 16px; /* Workaround for text not centering properly */
  margin-left: 5%;
  margin-right: 5%;
}

#content {
  text-align:center;
  margin:auto;
  max-width:75%;
}

a {
  color: #FFFFFF;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
}

h1 {
  margin-top: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 32pt;
}

.navLink {

  font-family: 'Oxygen', sans-serif;
  font-size: 28px;

  margin: auto;
}

.navHeader {
  font-family: 'Oxygen', sans-serif;
  font-size: 32px;
}

footer {
  font-size: 10pt;
}
